<configuration>

    <!-- Read Spring property correctly -->
    <springProperty
        scope="context"
        name="APP_NAME"
        source="spring.application.name"/>

    <appender name="CLOUDWATCH" class="ca.pjer.logback.AwsLogsAppender">
        <logGroupName>microservices-logs</logGroupName>
        <logStreamName>${APP_NAME}</logStreamName>
    </appender>

    <root level="INFO">
        <appender-ref ref="CLOUDWATCH"/>
    </root>

</configuration>