services:

  # =========================
  # CONFIG SERVER
  # =========================
  config-server:
    build: ./config-server
    image: config-server
    container_name: config-server
    ports:
      - "8888:8888"

  # =========================
  # EUREKA SERVER
  # =========================
  eureka-server:
    build: ./eureka-server
    image: eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    depends_on:
      - config-server

  # =========================
  # API GATEWAY
  # =========================
  api-gateway:
    build: ./api-gateway
    image: api-gateway
    container_name: api-gateway
    ports:
      - "9091:8080"
    depends_on:
      - eureka-server
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: us-east-1

  # =========================
  # AUTH SERVICE (HOST DB)
  # =========================
  auth-service:
    build: ./auth-service
    image: auth-service
    container_name: auth-service
    ports:
      - "8084:8084"
    depends_on:
      - eureka-server
  # =========================
  # ORDER SERVICE
  # =========================
  order-service:
    build: ./order-service
    image: order-service
    container_name: order-service
    ports:
      - "8081:8081"
    depends_on:
      - eureka-server
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: us-east-1

  # =========================
  # PAYMENT SERVICE
  # =========================
  payment-service:
    build: ./payment-service
    image: payment-service
    container_name: payment-service
    ports:
      - "8082:8082"
    depends_on:
      - eureka-server
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: us-east-1

  # =========================
  # ZIPKIN
  # =========================
  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"