version: "3.8"

services:

  config-server:
    build: ./config-server
    image: config-server
    ports:
      - "8888:8888"

  eureka-server:
    build: ./eureka-server
    image: eureka-server
    ports:
      - "8761:8761"
    depends_on:
      - config-server

  api-gateway:
    build: ./api-gateway
    image: api-gateway
    ports:
      - "9091:8080"
    depends_on:
      - eureka-server
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: us-east-1

  order-service:
    build: ./order-service
    image: order-service
    ports:
      - "8081:8081"
    depends_on:
      - eureka-server
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: us-east-1

  payment-service:
    build: ./payment-service
    image: payment-service
    ports:
      - "8082:8082"
    depends_on:
      - eureka-server
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: us-east-1

  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411"