version: '3.8'

services:

  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411"

  config-server:
    image: config-server
    ports:
      - "8888:8888"

  eureka-server:
    image: eureka-server
    ports:
      - "8761:8761"
    depends_on:
      - config-server

  api-gateway:
    image: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - eureka-server
      - zipkin

  order-service:
    image: order-service
    ports:
      - "8081:8081"
    depends_on:
      - api-gateway
      - zipkin

  payment-service:
    image: payment-service
    ports:
      - "8082:8082"
    depends_on:
      - api-gateway
      - zipkin
