<configuration>

	<appender name="CLOUDWATCH" class="ca.pjer.logback.AwsLogsAppender">
		<logGroupName>microservices-logs</logGroupName>
		<logStreamName>${spring.application.name}</logStreamName>
	</appender>

	<root level="INFO">
		<appender-ref ref="CLOUDWATCH" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>