<configuration>

    <appender name="CLOUDWATCH" class="ca.pjer.logback.AwsLogsAppender">
        <logGroupName>/microservices/${spring.application.name}</logGroupName>
        <logStreamName>${HOSTNAME}</logStreamName>
    </appender>

    <root level="INFO">
        <appender-ref ref="CLOUDWATCH"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
