server:
  port: 8081

spring:
  application:
    name: order-service   # REQUIRED for Eureka + Gateway

  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/order_db
    username: postgres
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  data:
    redis:
      host: host.docker.internal
      port: 6379

  jackson:
    serialization:
      write-dates-as-timestamps: false

  # REQUIRED FOR FEIGN + ZIPKIN METRICS
  cloud:
    openfeign:
      micrometer:
        enabled: true

# ================================
# EUREKA CONFIG (DOCKER SAFE)
# ================================
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true

# ================================
# ACTUATOR + ZIPKIN
# ================================
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

  tracing:
    sampling:
      probability: 1.0

  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans

# ================================
# RESILIENCE4J CONFIG
# ================================
resilience4j:
  circuitbreaker:
    instances:
      paymentService:
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s

  retry:
    instances:
      paymentService:
        max-attempts: 3
        wait-duration: 500ms