server:
  port: 8888

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: file:///D:/microservices-project/config-repo
          default-label: master
          clone-on-start: true
